name: MODSET-17 - connection reset
on:
  push:
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
    - run: docker run -e POSTGRES_PASSWORD=postgres -p 5433:5432 -d postgres:12-alpine
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - run: mvn -B package -DskipTests
    - run: |
        export DB_HOST=127.0.0.1
        export DB_PORT=5432
        export DB_USERNAME=postgres
        export DB_PASSWORD=postgres
        export DB_DATABASE=postgres
        ( java -jar -Dstorage=postgres target/mod-settings-fat.jar > log ) &
    - run: |
        curl -w"\n" -sS -D - -HX-Okapi-Tenant:diku -HContent-type:application/json -d '{"module_to": "mod-settings-1.0.3"}' \
             localhost:8081/_/tenant | tee out
    - run: |
        LOCATION=`cat out | grep -i "^Location: " | cut -d" " -f 2 | tr -d "\n\r"`
        curl -w"\n" -sS -D - -HX-Okapi-Tenant:diku localhost:8081$LOCATION?wait=30000
    - run: cat log
