name: MODSET-17 - connection reset
on:
  push:
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
    - run: docker run -e POSTGRES_PASSWORD=postgres -p 5433:5432 -d postgres:12-alpine
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - run: mvn -B package -DskipTests --file pom.xml
    - run: |
        export DB_HOST=127.0.0.1
        export DB_PORT=5432
        export DB_USERNAME=postgres
        export DB_PASSWORD=postgres
        export DB_DATABASE=postgres
        ( java -jar -Dstorage=postgres target/target/mod-settings-far.jar > log ) &
    - run: cat log
