name: MODSET-17 - connection reset
on:
  push:
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
    - run: docker run -e POSTGRES_PASSWORD=postgres -p 5432:5432 -d postgres:12-alpine
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - run: mvn -B package -DskipTests
    - run: |
        export DB_HOST=127.0.0.1
        export DB_PORT=5432
        export DB_USERNAME=postgres
        export DB_PASSWORD=postgres
        export DB_DATABASE=postgres
        ( java -jar -Dstorage=postgres target/mod-settings-fat.jar > log ) &
    - name: enable diku tenant
      run: |
        curl -w"\n" -sS -D - -HX-Okapi-Tenant:diku -HContent-type:application/json \
             -d '{"module_to": "mod-settings-1.0.3"}' localhost:8081/_/tenant | tee out
        LOCATION=`cat out | grep -i "^Location: " | cut -d" " -f 2 | tr -d "\n\r"`
        curl -w"\n" -sS -D - -HX-Okapi-Tenant:diku localhost:8081$LOCATION?wait=30000
    - name: add record to /settings/entries
      run: |
        curl -w"\n" -sS -D - -HX-Okapi-Tenant:diku \
            '-HX-Okapi-Permissions:["mod-settings.entries.item.post", "mod-settings.global.write.mod-circulation"]' \
             -HContent-Type:application/json \
             -d '{ "id":"1e01066d-4bee-4cf7-926c-ba2c9c6c0001", "scope": "mod-circulation", "key":"checkoutLockFeature", "value":"{\"checkOutLockFeatureEnabled\":true,\"noOfRetryAttempts\":25,\"retryInterval\":250,\"lockTtl\":2500}" }' \
             localhost:8081/settings/entries
    - name: install k6
      run: |
        curl -w"\n" -sS https://github.com/grafana/k6/releases/download/v0.52.0/k6-v0.52.0-linux-amd64.tar.gz -L | tar xvz --strip-components 1
        npm install
    - run: ./k6 run --vus 10 --duration 10s .github/workflows/test.js
    - run: sleep 61
    - run: ./k6 run --vus 10 --duration 10s .github/workflows/test.js
    - run: sleep 5
    - run: cat log
